.users-header .profile {
    align-content: center;
    text-align: center;
}

.users-header {
    background-color: #f3f3f3;
    height: 200px;
    padding: 2rem 0 1rem;
}

.info {
    line-height: 0.1em;
    margin-bottom: 20px;
}

.post-body {
    text-align: justify;
}